<app-header></app-header>

<div class="container">
  
 <div *ngIf="user.devices.length>0">

	<div class="row">

	 <div  class="col-md-4">


            <div class="panel panel-default">
             <div class="panel-heading" (click)="dataCredOpenCloseDeviceAccordian()">
                <h4 class="panel-title">
                    <a data-toggle="collapse"><span class="glyphicon" [ngClass]="dataCredAccordOpenCloseButton()"></span> Tracking Credits: </a>
                </h4>
            </div>
            <div  class="panel-collapse collapse" [ngClass]="dataCredAccordOpenClose()">
                  <div class="panel-body">

                               <div class="col-xs-5">
					<h4 style="color:#000;">GPS Pings:</h4>
				</div>
				<div class="col-xs-7">
					<h4 style="color:#000;">Value ($):</h4>
				</div>
			<div class="clr"></div>
	 		 <div class="row"  style="border-top: 1px solid #ccc;">
	      
				<div class="col-xs-5">
					<p>{{user.pingCredits}}</p>
				</div>
				<div class="col-xs-7">
				  
					<p>{{user.pingCredits/global.cellCreditFactor | currency:"USD":"$"}}</p>
			
				</div>
			 </div>
					
				
			<br />
			<br />
		    <a  class="btn btn-default btn-lg pull-right" routerLink="/buy-credits" *ngIf="user.pingCredits < 1">
  			 Buy Data Credits!
		    </a>

                  </div>
            </div>
        </div>

	
	 </div>


 	 <div  class="col-md-8">


          <div class="panel panel-default">
             <div class="panel-heading" (click)="openCloseDeviceAccordian()">
                <h4 class="panel-title">
                    <a data-toggle="collapse"><span class="glyphicon" [ngClass]="accordOpenCloseButton()"></span> Registered Devices: </a>
                </h4>
            </div>
            <div  class="panel-collapse collapse" [ngClass]="accordOpenClose()">
                  <div class="panel-body">
                               <div class="col-xs-5">
					<h4 style="color:#000;">Devices:</h4>
				</div>
                               <div class="col-xs-4">
					<h4 style="color:#000;">Tag:</h4>
				</div>
				<div class="col-xs-3">
					<h4 style="color:#000;" class="pull-right"> Status: </h4>
				</div>
			<div class="clr"></div>
	 		 <div class="row"  *ngFor="let dev of user.devices" style="border-top: 1px solid #ccc;">
	      
				<div class="col-xs-5">
					<p style="margin-top:5px;">Device: {{ dev.imei | truncate}} </p>
				</div>
				<div class="col-xs-4">
				  
					<div class="form-group" style="margin-top:5px;">

						  <input class="form-control" (blur)="onTagChange(dev)" [(ngModel)]="dev.tag" placeholder="Tag" maxlength="10"/>
					</div>
 				   
			
				</div>
				
				<div class="col-xs-3">
					<button class="btn pull-right" (click)="onTrackStatusToggle(dev)" style="margin-top:5px;" [disabled]="user.pingCredits < 0.01">
					    <img [src]="trackingStatusImg(dev.watching)" style="margin-left: auto; margin-right:auto; width:20px; display: block;"/>
					</button>
				</div>
	 		 </div>

                  </div>
            </div>
          </div>

 

	</div>

	  

	</div>


    <div class="formCard" style="position:relative;">
	<div class="row">
		
 	<div  class="col-md-6">
		<a  class="btn btn-default btn-lg btn-block" routerLink="/buy-credits">
  			    Buy Data Credits!
		</a>
 	</div>
	 <div  class="col-md-6">
		
		<a  class="btn btn-default btn-lg btn-block" routerLink="/register-device">
  			Register More Devices
		</a>

	 </div>


 	 <div  class="col-md-6">
	
		<a class="btn btn-default btn-lg btn-block" routerLink="/buy-device">
  			Buy More Devices!
		</a>
	  </div>

	 <div  class="col-md-6">
	
		<a class="btn btn-default btn-lg btn-block" routerLink="/tracker">
  			Track
		</a>
	  </div>

       </div>
 
    </div>

  </div>

 <div *ngIf="user.devices.length<1">

	<div class="formCard" style="position:relative;">
	<h2  style="text-align:center;">You don't have any registered Devices</h2>
	<div class="row">
		
	 <div  class="col-md-6">
		
		<a  class="btn btn-default btn-lg btn-block" routerLink="/register-device">
  			Register Device
		</a>

	 </div>


 	 <div  class="col-md-6">
	
		<a class="btn btn-default btn-lg btn-block" routerLink="/buy-device">
  			Buy Now!
		</a>
	</div>

       </div>

    </div>

 </div>


</div>

 
<br />
<br />
<br />
<br />
<app-footer></app-footer>