<app-header></app-header>


<div class="container">
<h1>Frequently Asked Questions:</h1>

<div class="row">

<div class="col-xs-12">
	<h3>How do I know if my tracker is turned on?</h3>
	

</div>


<div class="col-xs-12">

	<p>Check by quickly pressing the power button, and if the light turns on and then turns off as soon as you release the button.</p>
	<p>If the device is off then the light will not turn on when pressing the power button</p>
	<p>Turn on the device with a long press of about 3 seconds.  Once the light turns on the device will boot up and the light will flash for a few seconds while it searches for a cellular network.</p>
</div>



</div>





<div class="row">

 <div class="col-xs-12">
	<h3>Why am I not getting a GPS reading?</h3>
 </div>

  <div class="col-xs-12">

	<p>First make sure the device is on and charged.  Second make sure you have GPS Ping credits; check at your <a routerLink="/dashboard">Dashboard</a>.</p>
	<p>If this checks out go to the Tracker and make sure you click your device onto "Traking", and then you can "jumpstart" setting the device alarm by holding down the power button for 4-5 seconds until the blue light turns off, then imediately let go of the button</p>
	<p>You can then try and refresh the kidtrack tracker page, and this will often fix any tracker problems.</p>
	<p>If your device still is not showing up in the Kidtrack tracker, you might not have a cellular network where the device is located, and in that case there is no way for the device to send GPS data.</p>
	<p>Finally, if the device is in a building or underground, the device likely cannot pick up a GPS reading, and in this case the device can't get a location to send (wait until GPS signal is found).</p>
  </div>

 </div>


 
<div class="row">

 <div class="col-xs-12">
	<h3>How long does a charge last?</h3>
 </div>

  <div class="col-xs-12">

	<p>This depends on how long you are in the Tracking mode.  If you leave the tracking mode on, it will last about 5 hours.  You usually don't need to keep tracking on which will keep the device on idle while not tracking, and the device battery will last 10 hours. Only track when you need to take a peek a the location. </p>
	
  </div>

 </div>







</div>


<br /><br /><br /><br />
<app-footer></app-footer>
