<app-header></app-header>

<div class="container">

 <div style="position: relative; margin-top: 15px; margin-bottom:30px;">
  <div class="row">
   <div class="col-xs-12 col-sm-10 col-md-8 col-xs-offset-0 col-sm-offset-1 col-md-offset-2">
    <div class="formCard">

	<h3> Register Devices </h3>

         <div class="input-group">
       <div class="input-group">
     
          <span class="input-group-addon"  style="width:82px;">IMEI #:</span>
   
      
           <input type="text"  [(ngModel)]="imeinumber"  class="form-control" placeholder="IMEI #">
        
        </div>
        
          <div class="input-group">
            <span class="input-group-addon" style="width:82px;">KTC #:</span>
            <input type="text"  class="form-control"  [(ngModel)]="ktcnumber"  placeholder="KTC" style="max-width:75px;">   
  
            
         </div>
        <div class="input-group-btn">
             <button class="btn btn-default" (click)="addToDeviceRegistration()" [disabled]="registerFormOk()">
                 <i class="glyphicon glyphicon-plus"></i>
             </button>
           </div>
         </div>


	<br />
   <div class="form-group">
        <button class="btn" (click)="uploadCSV()">Upload CSV <span class="glyphicon glyphicon-upload"></span></button>
              <a class="btn pull-right" routerLink="/dashboard"><-Dashboard</a>
   </div>

        <div class="clr"></div>

    </div>
    

  </div>
 </div>
</div>




<div class="row" *ngFor="let newdev of newlyRegisteredDevices;">
	<div class="col-xs-12" > 

		<p style="text-align:center;" data-toggle="tooltip" [title]="newdev.regstatustooltip" > 

			<span [ngClass]="getDevRegistrationWordClass(newdev)">{{newdev.imei}} </span>

			<img [src]="getDevRegistrationStatusImage(newdev)" style="width: 20px;"/>
		</p>

	</div>
</div>



</div>  


<br />
<br />
<br />
<br />
<app-footer></app-footer>
