
<app-header></app-header>


<div class="container-fluid">

<br/><br/>
<div *ngIf="loading"><img src="public/img/loading.gif"/></div>

<div *ngIf="!loading" class="container text-center">
  <h3 *ngIf="emailConfirmed">YOUR EMAIL HAS BEEN CONFIRMED.</h3>


  <h3> Start Tracking your Kids - 

	
	<span *ngIf="user.isLoggedIn"><a routerLink="tracker" class="btn btn-lg">Go to Tracker</a><span>!</span></span>

	<span *ngIf="!user.isLoggedIn"><a routerLink="login" class="btn btn-lg">Go to Login</a><span>!</span></span>



   </h3>


  <h3 *ngIf="!emailConfirmed">Something weird happened and your email was not confirmed.</h3>
</div>



<br /><br /><br /><br />
<app-footer></app-footer>
