doctype html
html
	head
	title= title
	link(rel='stylesheet', href='/css/style.css')
	meta(name="viewport" content="initial-scale=1.0")
	meta(charset="utf-8")
	body
		block content
		script(src='/js/map.js')

		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1nrmHwxPdvG7rOplm0fNeC-Fu6TFqABA&callback=initMap" async defer)



