<app-header></app-header>


<div class="container-fluid" >
<br />

<h1 style="text-align:center;">An easy to use device and app to track what matters most.</h1>
<br />

<div class="row">
  <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
      <div class="col-xs-4">
       	<div style="text-align:center;">
	  <img src="assets/trackerPick11.jpg"  style="width:100%; max-width:150px;"/>
       </div>
	</div>
	<div class="col-xs-4">
         	<div style="text-align:center;">
	  <img src="assets/trackapppic.png" style="width:100%; max-width:150px;"/>
            </div>
	</div>

       <div class="col-xs-4">
         	<div style="text-align:center;">
	  <img src="assets/trackerPick23.jpg" style="width:100%; max-width:150px;"/>
            </div>
	</div>
  </div>



</div>

<br />
<hr>

<h2 style="text-align:center;">It is about peace of mind and keeping kids safe</h2>

  <div style="text-align:center;">

      <div class="col-xs-3" style="padding:0;">
	<img src="assets/disney1.png" style="width:100%; max-width:400px;"/>
   </div>
   <div class="col-xs-3"  style="padding:0;">
	<img src="assets/dadandkidswinging.png" style="width:100%; max-width:400px;"/>
   </div>
   <div class="col-xs-3"  style="padding:0;">
	<img src="assets/snowbusy.png" style="width:100%; max-width:400px;"/>
  </div>
   <div class="col-xs-3"  style="padding:0;">
	<img src="assets/carnival.png" style="width:100%; max-width:400px;"/>
      </div>


</div>
<div class="clr"></div>
<br />
<hr>
<br />
<br />
<h2 style="text-align:center;">Its as easy as 1, 2, 3:</h2>
<div class="row" style="text-align:center;">
  <div class="col-sm-4" style="margin-bottom:50px;">
	<div style=""><a class="btn" routerLink="register"><img src="assets/signupicon.png" style="width:40%;"/></a></div>
    <p>
	<b style="font-size:30px;">1.</b> <a class="btn" routerLink="/register" style="font-size: 25px;">Signup here</a> with kidtrack.io
    </p>
  </div>
   <div class="col-sm-4" style="margin-bottom:50px;">
	<div style=""><a class="btn" routerLink="dashboard"><img src="assets/devicereg.png" style="width:40%;"/></a></div>
    <p>
	<b style="font-size:30px;">2.</b> <a  class="btn" routerLink="/register-device" style="font-size: 25px;">Register</a> your devices
    </p>
  </div>
    <div class="col-sm-4" style="margin-bottom:50px;">
	<div style=""><a class="btn" routerLink="buy-credits"><img src="assets/buycredits.png" style="width:40%;"/></a></div>

    <p>
	<b style="font-size:30px;">3.</b> <a  class="btn" routerLink="/buy-credits" style="font-size: 25px;">Load up</a> on GPS Ping Credits
    </p>
  </div>

</div>
<br />
<hr>
<br />
<br />

  
<div class="row">
  <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
   <h2 style="text-align:center;"> Blue Tooth vs. GPS </h2>
   <p> There are a bunch of tracking devices on the market, some are Bluetooth, and can only track when near by or last time you were near by with your app on.  This kind of tracker just wont work to track a kid lost in a big area like a city.</p>
	<div style="margin-left:auto; margin-right:auto; max-width:200px;">
	<img src="assets/lotsoftrackers.png" style="width:100%;"/>
	</div>
    <br />
    <p>Where GPS tracking technology works over long distances as long as the device is in cellular range and can send the GPS location data to the cloud.</p>
	<br /><br />
   <h2 style="text-align:center;"> Other GPS Trackers vs. Kidtrack </h2>
   <p> Other GPS devices on the market require monthly fees and contract for the cellular data.</p>
    <div class="col-xs-6 col-md-3">
	<div style="text-align:center;">
	  <img src="assets/jiobit8to12permonth.png" style="width:60%; max-width:100px;"/>

         </div>
    <p style="text-align:center;">
		$139.99 then $8 to $12 per month
    </p>
  </div>
   <div class="col-xs-6 col-md-3">
      	<div style="text-align:center;">
	   <img src="assets/8_33permonthgpstracker.png" style="width:60%;max-width:100px;"/>
        </div>
    <p style="text-align:center;">
	       $38.99 then $8.33 per month contract.
    </p>
  </div>
 <div class="col-xs-6 col-md-3">
       	<div style="text-align:center;">
	<img src="assets/3_33permonth2yearcontract.png" style="width:60%; max-width:100px;"/>
       </div>
		
    <p style="text-align:center;">
	      $79.99 for a two year contract.
    </p>
  </div>
 <div class="col-xs-6 col-md-3">
	<div style="text-align:center;">
	  <img src="assets/25amonthgpstracker.png" style="width:60%; max-width:100px;"/>
       </div>
    <p style="text-align:center;">
	     $39.95 then $25 per month.
    </p>
  </div>

 	
  	<br />
<div class="clr"></div>
</div>


<div class="row">

   <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
   

    <p>We are THE LOWEST COST GPS tracker on the market; we do not make you pay a monthly fee.  
       Simply buy GPS Ping credits for the amount of tracking you need; while the device is off it costs you nothing. <br /><br />
     </p>
  
   </div>


</div>

<div class="row">

   <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
   
	<div style="text-align:center;">
	    <img src="assets/trackerPick11.jpg" style="width:60%; max-width:150px;"/>
         </div>
        <p style="text-align:center;">
	  $34.99 then NO CONTRACT, pay as you go, includes SIM card.
       </p>
  

    </div>


</div>
<div class="row">

   <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">

   <p>
        For heavy users (100% device on) the GPS Ping Credits and our efficient tracking App, the price is in line with other GPS devices with monthly cellular plans ($4-$10). The price fluxuates depending on how much realtime tracking is utilized.
	<br /><br /> For most people the device does not need to be on all the time costing you money. This cost structure is the most realistic and useable for kid tracking (pay as you go). 
        If you use twice in a month for family outings, it could cost less than $1 in GPS Ping credits for the month.<br />
    </p>
 
    <br /><br />
  <h2  style="text-align:center;"> How it get started? </h2>

    <p><a routerLink="/register">Signup</a> with kidtrack.io. You'll need a Kidtrack GPS Tracker at this <a href="https://www.amazon.com/dp/B0789N6FN1">Amazon link.</a>
     Then come back to <a routerLink="/register-device">register your device</a>, and then <a routerLink="/tracker">track!</a></p>

 </div>
</div>

<div class="row">
  <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">

     
      <div class="col-xs-6">
	  <img src="assets/trackerPick.jpg"  style="width:100%;"/>
	</div>
	<div class="col-xs-6">
	  <img src="assets/trackerPick1.jpg" style="width:100%;"/>
	</div>
  </div>

</div>
<br />
<br />

<hr>
<br />
<br />

<div class="row">
  <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
   <div class="col-md-6">
    <h2 style="text-align:center;">Simple to use Tracking Application</h2>
  
	<img src="assets/kidtrackApp.png" style="width:100%;"/>


     </div>

    <div class="col-md-6">
       <h2 style="text-align:center;">Monitor Multiple Trackers at Once</h2>
       <img src="assets/multipule.png" style="width:100%;"/>

    </div>
  </div>
<div class="clr"></div>
<br />
</div>


<br />
<br />

<hr>
<br />
<br />





<h1 style="text-align:center;">KEEPING IT SIMPLE</h1>
<br />
<br />
<h3 style="text-align:center;"><a routerLink="/contact">Give us a shout!</a></h3>


</div>



<br />
<div class="clr"></div>
<app-footer></app-footer>


