<app-header></app-header>


<div class="container-fluid" style="text-align:center;">
<br />

<h1>An easy to use device and app to track your kids</h1>
<br />
<br />
<hr>

<h2>It is about peace of mind and keeping kids safe</h2>
<br />
<hr>
<br />
<br />
<h2>Its as easy as 1, 2, 3:</h2>
<div class="row">
  <div class="col-sm-4">
    <p>
	1. <a class="btn" routerLink="register" style="font-size: 25px;">Signup here</a> with kidtrack.io
    </p>
  </div>
   <div class="col-sm-4">
    <p>
	2. <a  class="btn" routerLink="dashboard" style="font-size: 25px;">Register</a> your devices
    </p>
  </div>
    <div class="col-sm-4">
    <p>
	3. <a  class="btn" routerLink="buy-credits" style="font-size: 25px;">Load up</a> on GPS Ping Credits
    </p>
  </div>
</div>

</div>



<br /><br /><br /><br />
<app-footer></app-footer>


