<app-header></app-header>


<div class="container-fluid" >
<br />

<h1 style="text-align:center;">An easy to use device and app to track your Kids n'Stuff.</h1>
<br />
<br />
<hr>

<h2 style="text-align:center;">It is about peace of mind and keeping kids safe</h2>
<br />
<hr>
<br />
<br />
<h2 style="text-align:center;">Its as easy as 1, 2, 3:</h2>
<div class="row" style="text-align:center;">
  <div class="col-sm-4">
    <p>
	<b style="font-size:20px;">1.</b> <a class="btn" routerLink="register" style="font-size: 25px;">Signup here</a> with kidtrack.io
    </p>
  </div>
   <div class="col-sm-4">
    <p>
	<b style="font-size:20px;">2.</b> <a  class="btn" routerLink="dashboard" style="font-size: 25px;">Register</a> your devices
    </p>
  </div>
    <div class="col-sm-4">
    <p>
	<b style="font-size:20px;">3.</b> <a  class="btn" routerLink="buy-credits" style="font-size: 25px;">Load up</a> on GPS Ping Credits
    </p>
  </div>
</div>
<br />
<hr>
<br />
<br />

<div class="row">
  <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">

   <p> There are a bunch of tracking devices in the market, some are Bluetooth, and can only track when near by or last time you were near by with your app on.</p>
   <p> The actual GPS devices out there have expensive monthly fees for the cellular data.  We are the best value in the market, and we do not make you pay a monthly fee.  Simply buy GPS Ping credits for the amount of tracking you need.  Even for heavy users the GPS Ping Credits and our efficient tracking App, the price is extreemely competative to other GPS devices with monthly cellular plans.</p>
   <p> You just have to get a Kidtrack GPS device on <a href="https://amazon.com">Amazon</a>, and register back <a routerLink="register">here.</a></p>

 </div>
</div>


<div class="row">
  <div class="col-xs-10 col-sm-8 col-md-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3">
    <h2 style="text-align:center;">Simple to use Tracking Application</h2>
    <h3 style="text-align:center;">Monitor Multiple Trackers at Once</h3>
   </div>
  <div class="col-xs-8 col-sm-6 col-md-4 col-xs-offset-2 col-sm-offset-3 col-md-offset-4">

	<img src="assets/kidtrackApp.png" style="width:100%;"/>
  </div>
<div class="clr"></div>
<br />



</div>

</div>



<br /><br /><br /><br />
<div class="clr"></div>
<app-footer></app-footer>


