<div style="position:absolute; top:80px; left:50%; margin-left:-25px;
            ">
<div class="circle-timer">
      <div class="timer-r"></div>
      <div class="timer-slot">        
        <div class="timer-l"></div></div>
</div>
</div>

<div id="map"></div>
 <div id="alarmContainer">
  <div *ngFor="let mark of markers">
    <button class="btn btn-danger btn-sm" *ngIf="mark.alarm" (click)="clearAlarm(mark)" style="font-size:12px;">
	<span class="glyphicon glyphicon-warning-sign"></span>
		ClearAlarm 
	<span class="glyphicon glyphicon-remove-circle"></span>
     </button>
  </div> 
</div>