<div id="deviceSelectorBackground"  style="position:fixed; top:0; left:0; right:0; bottom:0; z-index: 1000;">
  <div style="overflow-y: scroll; overflow-x: hidden; height: 100%; min-height: 100%;">

  <div class="container">


 <div *ngIf="user.devices.length<1">
 	
	<div class="formCard"  [ngStyle]="{'top': formCenter + 'px'}" style="position:relative; margin-top: 15px; margin-bottom:30px;">

	<h2  style="text-align:center;">You don't have any registered Devices</h2>
	<div class="row">
		
	 <div  class="col-md-6">


		<a  class="btn btn-primary btn-lg btn-block" routerLink="/register-device">
  			Register Device
		</a>


	

	 </div>


 	 <div  class="col-md-6">

		<a class="btn btn-default btn-lg btn-block" routerLink="/buy-device">
  			Buy Now!
		</a>

	</div>

     </div>
   </div>
 </div>

 <div *ngIf="user.devices.length>0">

    <h2 style="text-align:center;"> Select Your Devices to Track </h2>

    <div class="row">
      <div class="col-md-6">
   	 <div *ngFor="let dev of user.devices; let i = index">
            <div class="row"  style="margin-bottom:5px;" *ngIf="!dev.watching">
	     
		<div class="col-xs-4">
		 <input type="text" #devTag class="form-control" placeholder="Tag:"/>
                </div>
		<div class="col-xs-8">
                 <app-device  [device]="dev" (deviceSelected)="onDeviceSelected(dev, devTag.value, i)"></app-device>
                </div>
             </div>
        </div>
      </div>
      <div class="col-md-6">
              <div class="row" >
		 <div class="col-xs-12">
      <div *ngFor="let dev of user.devices" style="float:left;">
		  <span class="label label-default devlabel" style="float:left;margin:5px;"  *ngIf="dev.watching">
			
 			   <p>DEV: {{dev.id}} <i *ngIf="dev.tag !== ''">- TAG: {{dev.tag}}</i>
			     <button class="btn btn-xs btn-danger" (click)="removeDev(dev)"><span class="glyphicon glyphicon-remove"></span></button>
          </p>
		
       </span>
	     </div>

                 </div>
	      </div>

       </div>  


     </div>


   <div class="row" style="margin-top:20px; margin-bottom:50px;">
    <hr>
  
       <div class="col-xs-4 col-xs-offset-4">
		<button class="btn btn-info btn-block" (click)="goTrack()">Track</button>
       </div>
           <div class="col-xs-4 center">
              <a role="btn" class="btn" (click)="cancelTrack()" style="font-size:18px;">Cancel</a>
       </div>
   </div>

 
 </div>


 </div>
 </div>
</div>
