.affix {
      top: 0;
      width: 100%;
}

.navbar {
    border-radius: 0;
    min-height: 60px;
}

nav {
 margin-bottom: 0;
}


/*.navbar-collapse.collapse {
  display: block!important;
}*/

.navbar-nav>li, .navbar-nav {
  float: right !important;
}

.navbar-nav {
margin-left: 15px;
margin-right: 15px;

}


.navbar-default {
 border: 0;
 background-color: #FDFFC7;

}


.navbar-default .navbar-toggle {
  color: #00954a;
  font-size: 25px;
 border: 0;
 margin-left: 500px;
 margin-bottom: 0;
}


.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    color:#333;
    background-color: transparent;
}

 

.navbar-nav.navbar-right:last-child {
  margin-right: 0 !important;
}

.navbar-right {
  float: right!important;
}

.navbar a {
color: #00954a;
font-size:16px;
}

.collapse.in{
max-width: 200px;
margin-right: 10px;
float:right;
}


button:hover{
color: #333;
}

.sliderFillBg{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

h1, h2, h3, h4{

  color: #00e600;
     text-shadow: 2px 2px 8px #000;
}

.pop{
height:100%;
position: absolute;
text-align:center;
width:100%;
margin:0;
paddding:0;
top:0;
line-height: 200px;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+31,ffffff+100&0.7+0,0.7+31,0+100 */
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0.7) 31%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 31%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 31%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}