<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" *ngIf="atIndex">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">

     <div class="sliderFillBg" style="width:100%; height:380px; background-image: url('assets/slide1.jpg');"></div>

        <div class="pop">
         <h1 style="margin-top:70px;">Affordable GPS Tracking</h1>
         <h1>No monthly contract!</h1>
       </div>
   
    </div>
    <div class="item">
       <div class="sliderFillBg" style="width:100%; height:380px; background-image: url('assets/slide2.jpg');">
	  </div>
      
       <div class="pop">
        <h1 style="margin-top:100px;">Keeping what matters SAFE!</h1>
      </div>
    
    </div>
     <div class="item">
      <img src="" alt="">
      <div class="sliderFillBg" style="width:100%; height:380px; background-image: url('assets/slide3.jpg');">
 
        <div class="pop">
         <h1 style="margin-top:100px;">Affordable enough for school use on fieldtrips</h1>
       </div>
 
    </div>
  </div>
    <div class="item">
      <img src="" alt="">
      <div class="sliderFillBg" style="width:100%; height:380px; background-image: url('assets/slide4.jpg');">

        <div class="pop">
        <h1 style="margin-top:100px;">A teacher's best friend</h1>
        <h1>A kid's life saver</h1>
      </div>

    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>


<div id="navBox" class="navbar navbar-default" style="z-index: 1000; width:100%; top:0;" > <!--data-spy="affix"> -->
    <div class="navbar-header pull-left" style="margin-left:5px;">
      <a routerLink="/"><img style="position:absolute; height:80px;" src="assets/kidtracklogo.png">
      </a>
    </div>

   <div [ngStyle]="{'display': user.userHasTrakingDevices()?'block':'none'}" style="width:110px; height:40px; position:absolute; left: 180px; top:8px;">
     <a routerLink="/tracker"><img src="assets/datause.png" style="width:40px; height:40px;" data-toggle="tooltip" data-placement="bottom" title="Device tracking on and using data!"/></a>
     <button class="btn btn-md btn-warning pull-right" style="margin-top:4px;" (click)="user.clearWatching()" data-toggle="tooltip" data-placement="bottom" title="Turn off all device tracking!">
	<span style="color:red;"  class="glyphicon glyphicon-off"></span>
     </button>
   </div>

    <button type="button" *ngIf="!atRegister" class="navbar-toggle collapsed" (click)="onHamburgerClick()" data-toggle="collapse" data-target="#navCollapse" aria-expanded="false">
	<span class="glyphicon" [ngClass]="{'glyphicon-menu-hamburger': !mobileNavOpen, 'glyphicon-remove': mobileNavOpen}"></span>
     </button>
     <div class="collapse navbar-collapse" id="navCollapse">
	

   
       <ul class="nav navbar-nav navbar-right" style="text-align:right;">
        <li *ngIf="user.isAdmin">
            <a  routerLink="/admin/home" >Admin</a>
        </li>

        <li *ngIf="!user.isLoggedIn && !atRegister && !atLogin">
         <a routerLink="/login" >Login</a>
       </li>
          <li *ngIf="user.isLoggedIn && !atRegister">
          <a  (click)="logout()" >Logout</a>
       </li>

         <li  *ngIf="!user.isLoggedIn && !atRegister">
          <a routerLink="/register" >Register</a>
       </li>
	  <li  *ngIf="user.isLoggedIn  && !atDash">
         	 <a routerLink="/dashboard" >Dashboard</a>
      	  </li>


    </ul>
    <div style="margin-left: auto; margin-right: auto; text-align: right; max-width: 75px !important;">
            <button class="navbar-btn btn btn-default" (click)="goTrack()" *ngIf="user.isLoggedIn && !atTrack  && user.devices.length > 0" [disabled]="user.pingCredits < 1">Track</button>
     </div>

  </div>

 </div>

 <div style="width:100%; height:80px;" *ngIf="navAffixed"></div>
 