.nav-tabs>li>a {
border: 0;
background-color: #fdffc7;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
border: 1px solid #ff0000;
background-color: #eee;
}

.nav-tabs {
    border-bottom: 1px solid #ff0000;
}