<app-header></app-header>
<div id="mapContainer">
  <div id="map"></div>


<div style="position:absolute; bottom:50px; left:100px;">
  <button class="btn btn-default btn-lg"  (click)="getServerData()">
     <span class="glyphicon glyphicon-refresh"></span>
  </button>
  <button class="btn btn-default btn-lg"  (click)="resetDeviceList()">
     <span class="glyphicon glyphicon-pencil"></span>
  </button>
</div>

</div>

<app-device-selector (onTrackGo)="devicesSelected($event)" (onTrackCancel)="cancelDeviceSelection($event)" *ngIf="showDeviceSelector"></app-device-selector>

