<app-header></app-header>

<div id="mapContainer">

<app-map *ngIf="runMap"></app-map>

<div style="position:absolute; bottom:30px; left:100px;">
  <button class="btn btn-default"  (click)="getServerData()">
     <span class="glyphicon glyphicon-refresh"></span>
  </button>
  <button class="btn btn-default"  (click)="resetDeviceList()">
     <span class="glyphicon glyphicon-pencil"></span>
  </button>
</div>

</div>

<app-device-selector (onTrackGo)="devicesSelected($event)" (onTrackCancel)="cancelDeviceSelection($event)" *ngIf="showDeviceSelector"></app-device-selector>

