<br />  
<div class="clr"></div>
<div id="footContainer">
	<footer> 
		<div class="container">
			<div class="row">
				<div class="col-xs-8">
					<a style="color:#333; font-size:10px;" class="pull-left;" routerLink="/terms"> Terms & Conditions </a>
					<span>|</span> 
					<a style="color:#333; font-size:10px;"  class="pull-left;" routerLink="/returns"> Return Policy   </a>
					<span>|</span>
					<a style="color:#333; font-size:10px;"  class="pull-left;" routerLink="/privacy"> Privacy Policy  </a>
                                </div>
				<div class="col-xs-4 text-right">
					<a href="https://paradigmmotion.com" style="color:#333; font-size:8px;"  class="pull-right;"> Copyright &copy;2016 Paradigm Motion </a>
                                </div>
			</div>
		</div>
	</footer>
</div>