<br /><br /><br /><br /><br />   
<br /><br /><br /><br /><br />  
<div class="clr"></div>
<div id="footContainer">
	<footer> 
		<div class="container" style="margin-bottom:12px;">
			<div class="row">
				<div class="col-md-3" style="text-align:center;">
					<a routerLink="/contact" style="color:#333; font-size:18px;"  class="btn">Contact Us</a>
  				</div>
				<div class="col-md-3" style="text-align:center; margin-top:10px;">
					<a href="https://twitter.com/kidtrackio"><img src="assets/twitter.png" width="30"/></a> | 
					<a href="https://www.facebook.com/kidtrackio/"><img src="assets/fb.png" width="30"/></a> | 
					<a href="https://www.instagram.com/kidtrackio/"><img src="assets/instagram.png" width="30"/></a> 
				</div>

				<div class="col-md-3 text-center" style="padding-top:5px;">
					<a style="color:#333; font-size:11px;" class="pull-left;" routerLink="/terms"> Terms & Conditions </a>
					<span>|</span> 
					<a style="color:#333; font-size:11px;"  class="pull-left;" routerLink="/returns"> Return Policy   </a>
					<span>|</span>
					<a style="color:#333; font-size:11px;"  class="pull-left;" routerLink="/privacy"> Privacy Policy  </a>
					<span>|</span>
					<a style="color:#333; font-size:11px;"  class="pull-left;" routerLink="/faqs"> FAQs  </a>
                                </div>

				<div class="col-md-3" style="text-align:center;">
					<a href="https://paradigmmotion.com" style="color:#333; font-size:8px;"  class="pull-right;"> Copyright &copy;2016 Paradigm Motion </a>
                                </div>
			</div>
		</div>
	</footer>
</div>