<div id="deviceSelectorBackground"  style="position:fixed; top:0; left:0; right:0; bottom:0; z-index: 8000;">
  <div style="overflow-y: scroll; overflow-x: hidden; height: 100%; min-height: 100%;">


  <div class="container">

    <h2 style="text-align:center;"> Select Your Devices to Track </h2>

    <div class="row">
      <div class="col-md-6">
   
            <div class="row" *ngFor="let dev of deviceList; let i = index" style="margin-bottom:5px;">
		<div class="col-xs-4">
		 <input type="text" #devTag class="form-control" placeholder="Tag:"/>
                </div>
		<div class="col-xs-8">
                 <app-device  [device]="dev" (deviceSelected)="onDeviceSelected(dev, devTag.value, i)"></app-device>
                </div>
             </div>
      </div>
      <div class="col-md-6">
              <div class="row" >
		 <div class="col-xs-12">
		  <span class="label label-default devlabel" style="float:left;margin:5px;" *ngFor="let selDev of deviceSelectedList; let i = index">
 			<p>DEV: {{selDev.id}} <i *ngIf="selDev.tag !== ''">- TAG: {{selDev.tag}}</i>
			<button class="btn btn-xs btn-danger" (click)="removeDev(i)"><span class="glyphicon glyphicon-remove"></span></button>
                        </p>
                  </span>
	           
                 </div>
	      </div>

       </div>  


     </div>

   </div>
   <div class="row" style="margin-top:20px; margin-bottom:50px;">
    <hr>
  
       <div class="col-xs-4 col-xs-offset-4">
		<button class="btn btn-info btn-block" (click)="goTrack()">Track</button>
       </div>
           <div class="col-xs-4 center">
              <a role="btn" class="btn" (click)="cancelTrack()">Cancel</a>
       </div>
   </div>

 </div>
</div>
