::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.6);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(32, 32, 32, 0.05);
}

#deviceSelectorBackground {
/background: -moz-linear-gradient(top, rgba(89,106,114,0.73) 0%, rgba(98,126,138,0.73) 18%, rgba(138,216,247,0.85) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(89,106,114,0.73) 0%,rgba(98,126,138,0.73) 18%,rgba(138,216,247,0.85) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(89,106,114,0.73) 0%,rgba(98,126,138,0.73) 18%,rgba(138,216,247,0.85) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba596a72', endColorstr='#d98ad8f7',GradientType=0 ); /* IE6-9 */
*/

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feccb1+0,fb955e+100&0.43+1,0.4+100 */
background: -moz-linear-gradient(top, rgba(254,204,177,0.8) 0%, rgba(254,203,176,0.8) 1%, rgba(251,149,94,0.8) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(254,204,177,0.8) 0%,rgba(254,203,176,0.8) 1%,rgba(251,149,94,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(254,204,177,0.8) 0%,rgba(254,203,176,0.8) 1%,rgba(251,149,94,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6efeccb1', endColorstr='#66fb955e',GradientType=0 ); /* IE6-9 */
}

a {
  color: #3e4042;
  text-shadow: 2px 2px 4px #fff;
}

input {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {

   color: #00954a;
    text-shadow: 2px 2px 4px #000000;

}


.devlabel {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.btn-info {
    background-color: #2199bd;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn-info:hover {
background-color:  #60b1ca;
}