<tr>
	<td align="center" valign="top">
			<table border="0" cellpadding="10" cellspacing="0" id="templateFooter" width="600">
				<tbody>
					<tr>
						<td class="footerContent" valign="top">
						<table border="0" cellpadding="10" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td colspan="2" id="social" valign="middle">
									<div>
									  <a href="https://twitter.com/kidtrackio"><img src="cid:twitter.png" width="30"/></a> | 
									  <a href="https://www.facebook.com/kidtrackio"><img src="cid:fb.png" width="30"/></a> | 
									  <a href="https://www.instagram.com/kidtrackio/"><img src="cid:instagram.png" width="30"/></a> 
									</td>
								</tr>
								<tr>
									<td valign="top" width="350">
									<div><em>Copyright &copy; 2017 Paradigm Motion, All rights reserved.</em><br />
									kidtrack.io<br />
									<strong>Email:</strong><br />
									 kidtrack@kidtrack.io</div>
									</td>
								</tr>
								<tr>
									<td id="utility" valign="middle">
									<div>Email Settings: <a href="{{domain}}/dashboard">Dashboard</a></div>
									</td>
									<td id="utility" align="right">
									 <div><a href="{{domain}}"><img src="cid:kidtrackicon.png" width="70" /></a></div>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>

</center>
</body>
</html>
