<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<meta content="{{content}}" property="og:title" />
	<title>{{subject}}</title>
 <style type="text/css">#outlook a {padding:0;}  
		body{width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; background-color:#DDDFFF;} 

		.ExternalClass {width:100%;} 
		.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}

		#backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
	    #templateContainer{
	         border: 1px solid #DDDDDD;
			}


		img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;} 
		a img {border:none;} 
		.image_fix {display:block;}


		p {margin: 0.5em 0;}


		h1, h2, h3, h4, h5, h6 {color: black !important;}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color: blue !important;}

		h1 a:active, h2 a:active,  h3 a:active, h4 a:active, h5 a:active, h6 a:active {
		color: red !important; 
		}

		h1 a:visited, h2 a:visited,  h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
		color: purple !important; 
		}


		table td {border-collapse: collapse;}


		table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }


		a {color: brown;}

    .bodyContent div{
			 color:#505050;
			 font-family:Arial;
			font-size:14px;
			 line-height:150%;
			 text-align:left;
			}

		
			.bodyContent div a:link, .bodyContent div a:visited, /* Yahoo! Mail Override */ .bodyContent div a .yshortcuts /* Yahoo! Mail Override */{
			 color:#336699;
			 font-weight:normal;
			text-decoration:underline;
			}

			.bodyContent img{
				display:inline;
				height:auto;
			}

	
			.leftColumnContent{
			 background-color:#FFFFFF;
			}
			
	
			.leftColumnContent div{
			 color:#505050;
			font-family:Arial;
			 font-size:14px;
			 line-height:150%;
			 text-align:left;
			}
			

			.leftColumnContent div a:link, .leftColumnContent div a:visited,  .leftColumnContent div a .yshortcuts{
			 color:#336699;
				font-weight:normal;
             text-decoration:underline;
			}

			.leftColumnContent img{
				display:inline;
				height:auto;
			}


			.rightColumnContent{
			background-color:#FFFFFF;
			}
			
	
			.rightColumnContent div{
			color:#505050;
			 font-family:Arial;
			font-size:14px;
			line-height:150%;
			text-align:left;
			}
			
		
			.rightColumnContent div a:link, .rightColumnContent div a:visited, /* Yahoo! Mail Override */ .rightColumnContent div a .yshortcuts {
			color:#336699;
			font-weight:normal;
			text-decoration:underline;
			}

			.rightColumnContent img{
				display:inline;
				height:auto;
			}

		@media only screen and (max-device-width: 480px) {

			a[href^="tel"], a[href^="sms"] {
						text-decoration: none;
						color: blue; 
						pointer-events: none;
						cursor: default;
					}

			.mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
						text-decoration: default;
						color: orange !important;
						pointer-events: auto;
						cursor: default;
					}

		}



		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

			a[href^="tel"], a[href^="sms"] {
						text-decoration: none;
						color: blue; 
						pointer-events: none;
						cursor: default;
					}

			.mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
						text-decoration: default;
						color: orange !important;
						pointer-events: auto;
						cursor: default;
					}
		}

		@media only screen and (-webkit-min-device-pixel-ratio: 2) {

		}


		@media only screen and (-webkit-device-pixel-ratio:.75){

		}
		@media only screen and (-webkit-device-pixel-ratio:1){

		}
		@media only screen and (-webkit-device-pixel-ratio:1.5){

		}
	</style>
</head>