<app-header></app-header>


<div class="container">
 
	<h2> Return Policy</h2>
	<p> Thank you for supporting Kidtrack.io.</p>

	<p> If you are not entirely satisfied with your purchase, we want to help.</p>

	<p> Our GPS Tracker is handled by Amazon; including the returns.  Amazon will alway accept returns for the GPS Tracker.  Please follow Amazon's simple return procedure and policies.</p>

	<p> To be eligible for a return, please make sure that:</p>

	<ul>

		<li>
			<p> The product is in its original packaging</p>
		</li>
		<li>
			<p> The product isn't used or damaged</p>
		</li>

	</ul>

	<p> Products that do not meet these criteria will not be considered for return.

	<h3> Shipping charges </h3>

	<p> Amazon will help deal with shipping charges.</p>

	<h3> Damaged items </h3>

	<p> If you received a damaged product, please notify Amazon immediately for assistance.</p>

	<h3> Digital products (GPS Ping Credits) </h3>

	<p> We do not issue refunds for digital products once the order is confirmed and the product is sent.</p>


	<p> We recommend contacting us for assistance if you experience any issues receiving or downloading our products.</p>




	<h3> Contact us </h3>

	<p> If you have any questions about our Returns and Refunds Policy, please contact us:</p>

	<ul>
		<li>
			<p> By email: kidtrack@kidtrack.io</p>
		</li>
		<li>
			<p> By visiting this page on our website: https://kidtrack.io/contact</p>
		</li>
	</ul>

	


</div>



<br /><br />
<app-footer></app-footer>
